.finishing {
  .table {
    .column.id {
      min-width: initial;
      width: 150px;
    }
    .column.name {
      min-width: initial;
      width: 350px;
    }
    .column.augmentation {
      min-width: initial;
      width: 250px;
    }
  }
}
