.my-contracts {
  .table {
    .column.date {
      min-width: initial;
      width: 200px;
    }

    .column.timestamp {
      min-width: initial;
      width: 300px;
    }

    .column.price {
      min-width: initial;
      width: 300px;
    }

    .column.house {
      min-width: initial;
      width: 350px;
    }

    .column.finishing {
      min-width: initial;
      width: 250px;
    }

    .column.augmentation {
      min-width: initial;
      width: 350px;
    }

    .column.icons {
      min-width: initial;
      display: flex;
      gap: 10px;
      font-size: 20px;
      align-items: flex-end;
      width: 80px;

      svg {
        cursor: pointer;
      }
    }
  }

  .btn {
    width: 245px;
  }
}

.pdf-client-preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1111113f;
  z-index: 4;

  .pdf-client-preview-content {
    position: absolute;
    top: 40px;
    left: 40px;
    height: calc(100vh - 80px);
    width: calc(100vw - 80px);
    background: wheat;
    overflow: scroll;
    padding-bottom: 60px;
  }

  .close-container {
    width: 100%;
    padding-block: 30px 50px;
    display: flex;
    justify-content: center;

    .icon-container {
      width: 50px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #111;
      cursor: pointer;

      svg {
        font-size: 16px;
        color: wheat;
      }
    }
  }

  .btn {
    width: 225px;
  }
}
