.checkboxes {
  --primary-color: wheat;
  --secondary-color: #111;
  display: flex;
  gap: 10px;

  .checkbox {
    border: 1px var(--secondary-color) solid;
    padding: 14px 24px;
    border-radius: 100px;
    cursor: pointer;
    transition: background 200ms, color 200ms;

    &[is-checked="true"],
    &:hover {
      background: var(--secondary-color);
      color: var(--primary-color);
    }
  }
}
