.admin-dashboard {
  .dashboard-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .admin-dashboard-price {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      margin-block: 60px;
      font-size: 48px;

      span {
        font-size: 16px;
      }
    }
  }

  .year-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-block: 20px 50px;

    p {
      font-size: 18px;
      opacity: 0.4;

      &.active {
        opacity: 1;
      }
    }
  }
}
