.admin-dashboard {
  .dashboard-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .admin-dashboard-price {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      margin-block: 60px;
      font-size: 48px;

      span {
        font-size: 16px;
      }
    }
  }
}
