.current-contracts {
  .contract-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    aspect-ratio: 12 / 1;
    grid-gap: 20px;
    margin-block: 40px 60px;

    .contract-card {
      padding: 30px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      .value {
        font-size: 40px;
      }
    }
  }

  .table {
    .row.green {
      color: green;
    }

    .row.red {
      color: red;
    }

    .column.date {
      min-width: initial;
      width: 200px;
    }

    .column.timestamp {
      min-width: initial;
      width: 300px;
    }

    .column.price {
      min-width: initial;
      width: 300px;
    }

    .column.house {
      min-width: initial;
      width: 350px;
    }

    .column.finishing {
      min-width: initial;
      width: 250px;
    }
  }

  .btn {
    width: 245px;
  }
}
