*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: At hauss;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  background: wheat;
}

@font-face {
  font-family: At hauss;
  src: url(./fonts/AtHaussTRIAL-Regular.otf);
}

.page {
  padding: 40px;

  .page-title {
    font-size: 24px;
    opacity: 0.4;
  }

  .pagination {
    margin-bottom: 20px;
  }
}

.table {
  overflow-x: auto;
  position: relative;
  margin-bottom: 30px;

  .head {
    width: fit-content;
    min-width: 100%;
    display: flex;
    align-items: flex-end;

    .column {
      padding-inline: 5px;
      text-transform: uppercase;
      font-size: 12px;
      opacity: 0.4;
      min-width: 200px;
    }
  }

  .row {
    width: fit-content;
    min-width: 100%;
    padding-block: 30px 8px;
    border-bottom: 2px rgba(0, 0, 0, 0.2) solid;
    display: flex;
    align-items: flex-end;
    cursor: pointer;

    .column {
      padding-inline: 5px;
      min-width: 200px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  color: wheat;

  .form-title {
    font-size: 20px;
    opacity: 0.7;
  }

  .form-text {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .btn {
    margin-top: -20px;
  }
}
